# Configurações do serviço externo de imagens (Limitless TCG)
EXTERNAL_IMAGE_CARD_SERVICE_URL=https://limitlesstcg.nyc3.cdn.digitaloceanspaces.com/tpci/{set}/{set}_{number}_R_PT.png

# Configurações do Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
